[run]
branch = True
source = pepperpy
omit =
    tests/*
    setup.py
    conftest.py
    */__init__.py
    */migrations/*
    */settings/*
    */wsgi.py
    */asgi.py
    */manage.py
    */apps.py
    */urls.py
    */admin.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise AssertionError
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod
    @overload

[html]
directory = coverage_html

[xml]
output = coverage.xml

ignore_errors = True
fail_under = 10 