[run]
source = pepperpy
branch = True
omit =
    tests/*
    setup.py
    conftest.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    raise ValueError
    raise TypeError
    except ImportError:
    except ValueError:
    except TypeError:

ignore_errors = True
fail_under = 10

[html]
directory = htmlcov
title = Pepperpy Coverage Report 