image: python:3.12

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"
  POETRY_CACHE_DIR: "$CI_PROJECT_DIR/.poetry-cache"

cache:
  paths:
    - .pip-cache/
    - .poetry-cache/
    - .venv/

before_script:
  - python -V
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install

stages:
  - test
  - type-check
  - lint
  - build
  - deploy

test:
  stage: test
  script:
    - poetry run pytest
  coverage: "/TOTAL.+ ([0-9]{1,3}%)$/"
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

type-check:
  stage: type-check
  script:
    - poetry run mypy pepperpy

lint:
  stage: lint
  script:
    - poetry run flake8 pepperpy

build:
  stage: build
  script:
    - poetry build
  artifacts:
    paths:
      - dist/*

deploy:
  stage: deploy
  script:
    - poetry publish
  only:
    - tags
  when: manual
