image: python:3.12

definitions:
  caches:
    poetry: ~/.cache/pypoetry
    pip: ~/.cache/pip
  steps:
    - step: &test
        name: Test
        caches:
          - poetry
          - pip
        script:
          - pip install poetry
          - poetry install
          - poetry run pytest
        artifacts:
          - coverage.xml
    - step: &type-check
        name: Type Check
        caches:
          - poetry
          - pip
        script:
          - pip install poetry
          - poetry install
          - poetry run mypy pepperpy
    - step: &lint
        name: Lint
        caches:
          - poetry
          - pip
        script:
          - pip install poetry
          - poetry install
          - poetry run flake8 pepperpy

pipelines:
  default:
    - step: *test
    - step: *type-check
    - step: *lint
  branches:
    main:
      - step: *test
      - step: *type-check
      - step: *lint
      - step:
          name: Build
          script:
            - pip install poetry
            - poetry install
            - poetry build
          artifacts:
            - dist/*
  tags:
    "*":
      - step: *test
      - step: *type-check
      - step: *lint
      - step:
          name: Build
          script:
            - pip install poetry
            - poetry install
            - poetry build
          artifacts:
            - dist/*
      - step:
          name: Deploy
          deployment: production
          script:
            - pip install poetry
            - poetry publish
          trigger: manual
