target-version = "py312"
line-length = 88

[lint]
select = ["E", "F", "B", "W", "I", "N", "D", "UP", "ANN", "RUF"]
ignore = []
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[lint.per-file-ignores]
"tests/**/*" = ["S101", "TID252"]

[lint.mccabe]
max-complexity = 10

[lint.pydocstyle]
convention = "google"
